*{
  margin: 0;
  padding: 0;
  /* margin-left: 100px; */
}
#main{
            height: 100vh;
            width:1300px;
            display: flex;
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:.5fr.5fr .5fr 1fr 1fr .7fr 1fr 1fr;
            background-image:url("https://analyzeinfotech.in/assets/newassets/img/banner_bg.png");
        background-repeat: no-repeat;
        background-size:contain;
        margin-left:150px;
        background-position: 600px;
        cursor: pointer;
      
        }
        a{
        text-decoration: none;
        /* text-decoration-line:underline; */
        text-decoration-thickness: 2px;
       
       
    }
     li{display: flex;
        list-style: none;
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    ul{display:flex;
            gap: 40px;
        width: 60%;
        align-items: center;
        /* border: 2px solid red; */
       margin-left: 250px;
        
    }
     #d1{display: flex;
        grid-column: 1/3;
         align-items: center;
         height: 80px;
        justify-content: space-between;
        position: fixed;
        
        background-image:url("https://analyzeinfotech.in/assets/newassets/img/banner_bg.png");
        
     }
     
      .login button{
        color: wheat;
        width: 150px;
        height: 40px;
         border: 2px solid red;
         margin-right: 20px;
         border-radius: 20px;
         margin-bottom: 10px;
background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
}
      
      #d2{height: 100px;
        grid-column: 1/3;
      }
      #d3{height: 650px;
        width: 600px;
        grid-row:3/6;
        grid-column:2/3;
        background-image: url("https://analyzeinfotech.in/assets/newassets/img/banner_img.png");
        background-repeat: no-repeat;
        background-size:550px 600px;
        
        margin: 30px;

      }
      #d4{ height: 650px;
        width: 450px;
         grid-row:3/6;
        grid-column:1/2; 
        line-height: 1.5;
        padding-top: 50px;
        /* margin: 30px; */
        /* margin-right: 100px; */
        color:rgb(167, 146, 120)
        /* font-size: 25px; */
      }
      .a:hover{
        color: brown;
      }
      #hil{
        color: brown;
        font-size: 15px;
        font-weight:bolder;
      }
      #fl{font-size:25px;
        font-weight:bolder;
        color: rgb(7, 7, 74);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      h1{
        font-size:55px ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(7, 7, 74);
      }
      #d5{
        grid-column: 1/3;
        margin-left: 50px;
      }
       #reg{
         width: 150px;
        height: 40px;
        margin-top: 20px;
        border-radius:20px;
margin-right:20px;
         
background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
}
      
      #get{
        width: 150px;
        height: 40px;
        margin-top: 20px;
        border-radius:20px;
      background-color: beige;
      }
    /* section2 */
       #sec2{width:1300px ;
        height: 900px;
        margin-left: 150px;
        margin-top: 200px;
        /* background-color: rgb(163, 181, 181); */
        cursor: pointer;
      }
    #tech{display: flex;
        display:grid;
        width: 50%;
        margin:auto;
        margin-top:-35px;
        gap:20px;
        grid-template-columns: repeat(4,1fr);
     justify-content: center;
     align-items: center;
     /* background-color: aqua; */
      }  
      #tech div{
        display: flex;
        height: 260px;
        width:190px;
        box-shadow: 7px 5px 5px rgb(243, 237, 237);
        border-radius: 20px;
        border: 2px solid rgba(218, 218, 217, 0.903);
      }

     #tech .box{ display: block;
      text-align: center;
      padding-top: 19px;
  
     }
       
    
    #tech p{
        color:rgb(197, 195, 191);
        font-size: 14px;
        line-height: 1.3;
      }
    
      #art{
        height:90px;
        width:500px;
        text-align: center;
    
        /* background-color:rgb(206, 29, 29); */
        margin: auto;
      }
      
     .box:hover{
      transform: translateY(-5px);
     }
    
#sec2 h3{
  color:rgb(55, 7, 101);
}
/* SECTION-3 */
  #sec3{
        display: flex;
        width:1300px ;
        height: 900px; ;
        margin-left: 370px;
        margin-top: 30px;
        
      }
      #sec3 #yt-vedio{
        width: 40%;
        height: 100%;
        margin-right:-50px;
      }
      #sec3 #text{
        width: 23%;
        height: 100%;
        
      }
#text div p{
  width: 50px;
  height: 0px;
  border: 2px red solid;
}
#sec3 #text #about{
  display: flex;
  gap: 10px;
  
  align-items: end;
}
#sec3 #text h2{
  
  font-size: 35px;
  width:330px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
#sec3 #text span{
  font-size: 10px;
  color: rgb(194, 180, 160);
}
/* SECTION-4 */
#sec4{
        display: flex;
        width: 1500px; ;
        height: 200px;
        margin-left: 0px;
        margin-right: 0px;

        margin-top: -430px;
        background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
        align-items: center;
        justify-content: space-evenly;
        
      } 
      #sec4 .line{
        height: 5px;
        width: 100px;
        background-color: blanchedalmond;
      } 
      /* SECTION-5 */
        #sec5{
        
        width:1300px ;
        height: 900px; 
        margin-left: 150px;
        margin-top: 100px;
        cursor: pointer;
      } 
      #sec5 .text{
        
      
        height: 100px;
    width: 85%;
        line-height: 2;
         text-align: center; 
        /* background-color: aqua; */
      }
      #sec5 .text p{
        background-color:rgb(224, 113, 9);
        height: 4px;
        width: 90px;
        margin-left:47%;
      
      }
      #sec5 .block{
        display: flex;
        display:grid;
        width: 80%;
        margin:auto;
        gap:15px;
        margin-top:60px;
        grid-template-columns: repeat(4,1fr);
        /* grid-template-rows: 1fr; */
     justify-content: center;
     align-items: center;
    
     /* background-color: rgb(45, 49, 49); */
      } 
      #sec5 .block .b{
        /* display: flex; */
        height: 400px;
        width: 250px;
        border-radius:20px;
        /* padding-top: 10px; */
        text-align: center;
        box-shadow: 15px 15px 10px rgb(227, 223, 215);
        border: 3px solid rgb(230, 227, 227);
        
      } 
      #sec5 .b:hover{
      transform: translateY(-5px);
     }
     #sec5 img{
      border-radius: 20px;
     }
     #sec5 .block .b h3{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:rgb(55, 7, 101);
     }
     #sec5 .text h2{
      font-size: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color:rgb(55, 7, 101);
     }
     #sec5 .block .b p{
      padding-top: 20px;
      color:rgba(196, 190, 179, 0.799);
        font-size: 14px;
        line-height: 1.3;
     }
     /* SECTION-6 */
     #sec6{
        display:flex;
        /* border: 2px solid blue; */
        width:1300px ;
        height: 900px; 
        margin-left: 150px;
        margin-top: -150px;
        cursor: pointer;
      } 
      #sec6 .text{
        
        height: 100%;
        width: 50%;
        
        /* border: 2px solid red; */
      }
      #sec6 .text .top{
        height: 35%;
        width: 100%;
        /* border: 2px solid rgb(39, 9, 110); */
      }
    
    .line p {
      
      margin-top: 10px;
        background-color: brown;
        height:2px;
        width:80px;
      }
      #sec6 .line{
        display: flex;
        margin-left: 10px;
        gap: 20px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      #sec6 .text .botm{
        /* display:flex; */
        height: 50%;
        width: 100%;
        /* text-align: center; */
        /* border: 2px solid rgb(15, 207, 98); */
      }
      #sec6 .text h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 50px;
      }
       #sec6 .text .botm{
display: flex;
height: 40%;
width: 100%;


       }
    #sec6 .botm .left{
      height: 100%;
width: 50%;
line-height: 2;
/* border: 2px green solid; */
    }   
    #sec6 .botm .right{
      height: 100%;
width: 50%;
line-height: 2;
/* border: 2px green solid; */
    }  
    #sec6 .img{
      height: 50%;
      width: 30%;
      /* border: 2px blue solid; */
     
      background-size:cover;
      /* background-repeat: no-repeat; */
      /* margin: auto; */
    }